.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 4px solid pink; */
}

.flex-item-homePage{
    /* margin-left: 17%; */
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 3%;
    /* border: 2px solid blue; */
}


.progressBarContianer{
    z-index: 900;
    margin: 0%;
    width: 100%;
    /* margin-left: 4%; */
    position: fixed;
    top: -1%
}



/* For cirlce overlay */
.circle {
    position: fixed;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 2px solid red; */
    /* background: black; */
    pointer-events: none; /* Ensure mouse events pass through to underlying elements */
    transform: translate(-40%, -40%);
    /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
    /* opacity: 0.5; */
    pointer-events: none; /* Allows interaction with underlying content */
    backdrop-filter: blur(1.5px);
    /* background-color: greenyellow; */
    background: white;
    /* mix-blend-mode: saturation; */
    mix-blend-mode: exclusion;
  }
  

  .SideNavButton{
    position: fixed;
    top: 43%;
    right: 0%;
    background: linear-gradient(to bottom, #FFC000, #dc2f02, #9d0208);
    border-radius: 4px;
    padding: 0.5%;
    width: 4%;
    /* height: 27%; */
    z-index: 999;
    transition: all 0.2s ease-in-out;
  }
  .SideNavButton:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    right: 0.2%;
    box-shadow: 1px 0 60px -30px rgb(44, 44, 44);
  }