body {
  overflow-y: auto;
  overflow-x: hidden;
  cursor: url(/src/resources/svgs/cursors.png), auto;
}




.flex-item-sideNav{
  /* width: 14%; */
  position: fixed;
  height: 92%;
  top: 0%;
  padding-top: 3%;
  /* height: 95.5vh; */
  border-radius: 0px 25px 25px 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 2%;
  /* box-shadow: 1px 0 70px -20px #FFC000; */
}

.flex-item-sideNav:hover{
  transition: all 0.3s ease-in-out;
  /* width: 15%; */
  padding-left: 3%;
  /* height: 100dvh; */
  box-shadow: 1px 0 60px -30px #FFC000;
}


.noiseBG{
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-image: url(/src/resources/Images/noise1.webp);
  z-index: 999;
  opacity: 0.3;
  mix-blend-mode: multiply;
  /* filter: invert(100); */
  pointer-events: none; /* Allows interaction with underlying content */
}